{% extends "SyllabusTrackerApp/base_logged_in.html" %}

{% block content %}
    {% if successful_add %}
        <div class="notification">Successfully added the exercise!</div>
    {% endif %}
    <h1>Exercises</h1>
    <h2>Edit Exercises</h2>
        <form action="/edit_exercises/" method="POST">
            {% csrf_token %}
            {{ id }}
            {{ exercise_formset.management_form }}
            <table class="simple_table">
                {% for form in exercise_formset %}
                <tr class='form_row'>
                    {% for field in form.visible_fields %}
                        <td class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <button type="submit">Submit</button>
        </form>

    <h2>Add Exercise</h2>
    <form action="/add_exercise/">
    <table class="simple_table">
    {{ add_ex_form.as_table }}
    </table>
    <input type="submit" />
    </form>

    <h2>Upload Syllabus .csv file</h2>
    <p>
    <FORM action="/add_exercise">
        <table class="simple_table">
            {{ exercise_csv_form.as_table }}
        </table>
        <input type="submit" />
    </FORM>

    <hr />
    <h1>Exercise Groups</h1>
    <h2>All ExerciseGroups</h2>
    <form>
        <table>
                {{ exercise_group_formset.management_form }}
                {% for form in exercise_group_formset %}
                {% for field in form.fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </table>
    </form>

    <h2>Add ExerciseGroup</h>
        <form action="/add_exercise/">
            <table class="simple_table">
                {{ add_ex_group_form.as_table }}
            </table>
        <input type="submit" />
    </form>
</p>
{% endblock %}