{% load staticfiles %}

<html>
	<head>
		<title>3--- Pitchf.org -- {{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'Site.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'scripts/lib/jquery-ui.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'scripts/lib/jquery.tagit.css' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
		<script type="text/javascript">
			userID = 
			{% if user.is_authenticated %}
				"{{ user.guid }}";
			{% else %}
				"0";
			{% endif %}
		</script>
		<script data-main="{% static 'scripts/main' %}" src="{% static 'scripts/require.js' %}"></script>
	</head>
	<body>
	    <div class="page">
	        <header>
	            <div id="title">
	                <a href="/"><img width="100px" src="{% static 'images/logo.png' %}"></a>
	            </div>
	            <div id="logindisplay" class="headerField">
	                {% include "logOnDisplay.html" %}
	            </div>
	            <br style="clear:both;" />
	        </header>
	        <section id="main">
				<H1>{{title}} {% block follow_button %}{% endblock %}</H1>
				<div id="toolBar" class="headerField">
		            <nav>
		                <ul id="menu">
							<li><a href="/">Home</a></li>
							{% if user.is_authenticated %} | 
							<li><a href="/notifications/">Notifications<span id="notificationCount"></span></a></li>
							{% endif %}
							{% if entermsg_form %} | 
							<li>
								<li><a id="createMessageExpand">Create new message</a></li>
								<div id="createMessage" class="innerContentBorder">
									<form action="/" method="POST">{% csrf_token %}
									<table>
									{{ entermsg_form.as_table }}
									</table>
									<input type="submit" value="submit" />
									</form>
								</div>
							</li>
							{% endif %}
		                </ul>
		            </nav>
				</div>
				{% block content %}{% endblock %}
	        </section>
	        <footer class="headerField">
	        </footer>
	    </div>

	    <div id="dialogDummy" />
	</body>
</html>