{% extends "SyllabusTrackerApp/base.html" %}
{% load static %}
{% block title %} {{ title }}&euro; {% endblock %}

{% block login_display %}
{% include "SyllabusTrackerApp/logOnDisplay.html" %}
{% endblock %}

{% block navi %}
<nav>
    <ul id="menu">
        <a href="/"><img src="{% static 'images/home.gif' %}" class="hover_icon" title="Home" /></a>
        <a href="{% url 'syllabus' %}"><img src="{% static 'images/syllabus.gif' %}" class="hover_icon" title="Syllabus" /></a>
        <a href="{% url 'syllabus' whose='my_club' %}"><img src="{% static 'images/summary.gif' %}" class="hover_icon" title="Summary" /></a>
        <a href="{% url 'sessions' %}"><img src="{% static 'images/sessions.gif' %}" class="hover_icon" title="Sessions" /></a>
        {% if user.is_assistent_instructor_or_instructor %}
        <a href="{% url 'exercise_editing' %}"><img src="{% static 'images/syllabus_editing.gif' %}" class="hover_icon" title="Exercise Editing" /></a>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block notification %}
    <div class="notification">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
