{% load staticfiles %}

<html>
	<head>
		<title>-- SyllabusTracker / {{title}} --</title>
		<link rel="stylesheet" type="text/css" href="{% static 'scripts/lib/jquery-ui.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'scripts/lib/jquery-plugins/picker.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Site.css' %}" />
		<script data-main="{% static 'scripts/main' %}" src="{% static 'scripts/require.js' %}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
	</head>
	<body>
	    <div class="page">
	        <header>
				{% block login_display %}{% endblock %}
	            <div id="title">
	                <a href="/"><img width="250px" src="{% static 'images/logo.png' %}"></a>
				</div>
	            <br style="clear:both;" />
	        </header>
			<section id="main">
				<H1>{{title}}</H1>
				<div id="toolBar" class="headerField headerfooter">
						{% block navi %}{% endblock %}
				</div>
				<div id="content" class="contentColours">
					{% block notification %}{% endblock %}
					{% block content %}{% endblock %}
				</div>
			</section>
	        <footer class="headerfooter">
	        </footer>
	    </div>
	</body>
</html>