{% extends "SyllabusTrackerApp/base.html" %}

{% block title %} {{ title }}&euro; {% endblock %}

{% block login_display %}
{% include "SyllabusTrackerApp/logOnDisplay.html" %}
{% endblock %}

{% block navi %}
<nav>
    <ul id="menu">
        <div class="menu_column"><a href="/">Home</a></div>
        {% if user.is_assistent_instructor_or_instructor %} 
        <div class="menu_column">| Syllabus <br />
            <li><a href="{% url 'syllabus' %}">My Rating</a></li>
            <li><a href="{% url 'syllabus_summary' whose='my_students' %}">Summary</a></li>
            <li><a href="{% url 'exercise_editing' %}">Edit Exercises</a></li>
        </div>
        {% else %}
        <div class="menu_column">| <a href="/syllabus/">Syllabus</a></div>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block notification %}
    <div class="notification">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
