<h2>{{ title }}</h2>
<form action="/{{target}}/" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="simple_table">
        {% for form in formset %}
        <tr class='form_row'>
            {% for field in form.visible_fields %}
                <td class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endfor %}
    </table>
    <button type="submit">Submit</button>
</form>
