<div id="logindisplay" class="headerField">
		{% if user.is_authenticated %}
			Hello {{ user.username }}<br />
			<a href="/profile/">Profile</a> | <a href="/logout/">Logout</a>
	{% else %}
		<form action="/login/" method="POST">{% csrf_token %}
		<table>
		{{ login_form.as_table }}
		</table>
		<input type="hidden" name="target_url" value="{{target_url}}" />
		<input type="submit" value="log on" />
		<span class="menuBlock"><a href="/register/">Register new user</a></span><span class="menuBlock"> <a href="/forgot_password/">Forgot username/password</a></span>
		</form>
	{% endif %}
</div>