<div class="pagination">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?{{ paginator_var }}=1">&laquo; first</a>
                <a href="?{{ paginator_var }}={{ page.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                <form method="GET">
                Page <input type="text" name="{{ paginator_var }}" value="{{ page.number }}" /> of {{ page.paginator.num_pages }} <input type="submit" value="Go" />
                </form>
            </span>
    
            {% if page.has_next %}
                <a href="?{{ paginator_var }}={{ page.next_page_number }}">next</a>
                <a href="?{{ paginator_var }}={{ page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>