{% extends "SyllabusTrackerApp/base_logged_in.html" %}

{% block content %}
	<div id="userProfile" class="innerContentBorder">
		<form action="{% url 'user_update' %}" method="POST">
		{% csrf_token %}
		<table>
		{{ login_form.as_table }}
		</table>
		<input type="submit" value="Update" />
		</form>
		<p />
		{% if not found_membership %}
			<div clas="warning">No membership data has been found - Fill in your details before continuing!</div>
		{% endif %}
		<form action="{% url 'membership_update' %}" method="POST">
			{% csrf_token %}
			<table>
			{{ membership_form.as_table }}
			</table>
			<input type="submit" value="Update" />
		</form>
	</div>
	<p />
{% endblock %}