{% if group.show_in_hierarchy %}
{% include "SyllabusTrackerApp/group_header_snippet.html" with group=group depth=group.depth %}
<div class="syllabus_section">
{% endif %}
{% if group.show_in_hierarchy %}
    {% if group.exercises|length > 0 %}
        <table class="syllabus"> 
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th style="width:100px" class="
                {% if group.average >= 3 %}
                    proficient
                {% elif group.average >= 2 %}
                    understood
                {% elif group.average >= 1 %}
                    attempted
                {% else %}
                    seen
                {% endif %}
            ">Average rating</th>
        </tr>
        {% for exc, rating in group.exercises %}
        <form action="/rate/" method="POST">
            {% csrf_token %}
            <tr>
                <td>{{ exc.name }} <input type="hidden" name="exercise_name" value="{{ exc.name }}"></input></td>
                <td>{{ exc.description }}</td>
                {% if rating == None %}
                <td style="width:100px">No ratings received yet!</td>
                {% else %}
                <td style="width:100px"><input type="text" class="
                    {% if rating.rating_average >= 3 %}
                    proficient
                    {% elif rating.rating_average >= 2 %}
                    understood
                    {% elif rating.rating_average >= 1 %}
                    attempted
                    {% else %}
                    seen
                    {% endif %}
                    "name="rating_average" width="10" value="" title="{{ rating.rating_average }}={% for user, user_rating in rating.students_ratings.items %}{{ user }}:{{ user_rating}} | {% endfor %}" disabled></input></td>
                {% endif %}
            </tr>
        </form>
        {% endfor %}
    </table>
    {% endif %}
    </div>
{% endif %}
{% for child in group.children %}
    {% include "SyllabusTrackerApp/syllabus_snippet_summary.html" with group=child whose=whose %}
{% endfor %}
