{% if group.show_in_hierarchy %}
    {% include "SyllabusTrackerApp/group_header_snippet.html" with group=group depth=group.depth %}
    <div class="syllabus_section">
{% endif %}
{% for child in group.children %}
    {% include "SyllabusTrackerApp/syllabus_snippet.html" with group=child whose=whose %}
{% endfor %}
{% if group.show_in_hierarchy %}
    {% if group.exercises|length > 0 %}
    <form action="{% url 'rate' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="exercise_group_id" value="{{ group.id }}"></input></td>
        <table class="syllabus"> 
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Comment</th>
            <th colspan="4">Rating</th>
        </tr>
        {% for exc, rating in group.exercises %}
            <tr>
                <td class="ex_description">{{ exc.name }} <input type="hidden" name="exercise_name_{{ exc.id }}" value="{{ exc.name }}"></input>
                <td class="ex_description">{{ exc.description }}</td>
                <td><input type="text" name="comment_{{ exc.id }}" width="10" value="{{ rating.comment }}"></input></td>
                <td class="seen rating" title="seen"><input type="radio" name="proficiency_{{ exc.id }}" value="S" 
                    {% if rating.proficiency == "S" or rating.proficiency == None %} checked {% endif %} /></td>
                <td class="attempted rating" title="attempted"><input type="radio" name="proficiency_{{ exc.id }}" value="A" 
                    {% if rating.proficiency == "A" %} checked {% endif %} /></td>
                <td class="understood rating" title="understood"><input type="radio" name="proficiency_{{ exc.id }}" value="U" 
                    {% if rating.proficiency == "U" %} checked {% endif %} /></td>
                <td class="proficient rating" title="proficient"><input type="radio" name="proficiency_{{ exc.id }}" value="P" 
                    {% if rating.proficiency == "P" %} checked {% endif %} /></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"></td>
            <td colspan="4"><input type="submit" value="Rate" style="width:100%" /></td>
        </tr>
        </table>
    </form>
    {% endif %}
    </div>
{% endif %}
