{% if group.show_in_hierarchy %}
{% include "SyllabusTrackerApp/group_header_snippet.html" with group=group depth=group.depth %}
<div class="syllabus_section">
{% endif %}
{% if group.show_in_hierarchy %}
    {% if group.exercises|length > 0 %}
        <table class="syllabus"> 
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Average rating</th>
        </tr>
        {% for exc, rating in group.exercises %}
        <form action="/rate/" method="POST">
            {% csrf_token %}
            <tr>
                <td class="ex_description">{{ exc.name }} <input type="hidden" name="exercise_name" value="{{ exc.name }}"></input></td>
                <td class="ex_description">{{ exc.description }}</td>
                {% if rating == None %}
                <td><input type="text" name="rating_average" width="10" value="No ratings received yet!"></input></td>
                {% else %}
                <td><input type="text" class="
                    {% if rating.rating_average >= 3 %}
                    proficient summary_average
                    {% elif rating.rating_average >= 2 %}
                    understood
                    {% elif rating.rating_average >= 1 %}
                    attempted
                    {% else %}
                    seen summary_average
                    {% endif %}
                    "name="rating_average" width="10" value="{{ rating.rating_average }}" title="{% for user, user_rating in rating.students_ratings.items %}{{ user }}:{{ user_rating}} | {% endfor %}"></input></td>
                {% endif %}
            </tr>
        </form>
        {% endfor %}
    </table>
    {% endif %}
    </div>
{% endif %}
{% for child in group.children %}
    {% include "SyllabusTrackerApp/syllabus_snippet_summary.html" with group=child whose=whose %}
{% endfor %}
