{% extends "SyllabusTrackerApp/base_logged_in.html" %}

{% load st_tags %}

{% block content %}
{% if display_root %}

    <div id="filter_settings">
    <h1>Filter</h1>
    <form action="{% url 'syllabus' %}" >
    {% for fg_root_name,fg_list in all_group_groups.items %}
    <select name="filter" multiple="">
    {% for fg in fg_list %}
        <option value="{{ fg.name }}"
        {% if fg.name in selected_group_groups|hash:fg_root_name %}
            selected="true"
        {% endif %}
        >{{ fg.indented_name }}</option>
    {% endfor %}
    </select>
    <br style="clear: both" />
    {% endfor %}
    <input type="hidden" name="whose" value="{{ whose }}" />
    <input type="submit" />
    </form>

    {% if is_summary %}
    <h1>Select jitsuka to review</h1>
    <form action="{% url 'syllabus' %}" >
    <select name="whose" multiple="">
    {% for membership in all_memberships %}
        <option value="{{ membership.user.username }}"
        {% if membership in selected_memberships %}
            selected="true"
        {% endif %}
        >{{ membership.user.full_name }}</option>
    {% endfor %}
    </select>
    <br style="clear: both" />
    <input type="hidden" name="filter" value="{{ filter }}" />
    <input type="submit" />
    </form>
    </div>
    <p />
    {% include "SyllabusTrackerApp/syllabus_snippet_summary.html" with group=display_root depth=depth whose=whose %}
    {% else %}
    </div>
    <p />
    {% include "SyllabusTrackerApp/syllabus_snippet.html" with group=display_root depth=depth whose=whose %}
    {% endif %}	
{% else %}
    <p>No exercises are available.</p>
{% endif %}	

{% endblock %}  