/*----------------------------------------------------------
The base color for this template is #544545. If you'd like
to use a different color start by replacing all instances of
#544545 with your new color.
----------------------------------------------------------*/
body {
    background-image:url("images/BGDot.gif");
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 10px;
}

@font-face {
    font-family: '616';
    src: url('./616.eot');
    src: local('616'), url('./616.woff') format('woff'), url('./616.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_6898">Text with this font applied</p> */
.fontsforweb_fontid_6898 {
    font-family: '616' !important;
}

a:link, #answerActions a:link {
    text-decoration: none;
}

a:visited {
    color:#555;
    text-decoration: none;
}

menu a:visited {
    text-decoration: none;
}

a:hover, #answerActions a:hover {
    color: #A55;
    text-decoration: none;
}

a:active, #answerActions a:active{
    color: #A55;
}

#answerActions a
{
    color:#9B7;
    cursor:pointer;
}

header,
footer,
nav,
section {
    display: block;
}

.errorMsg
{
    color:#811;
}

.initial
{
    text-align: center;
    margin: auto;
}

#initial_login
{
    margin:auto;
    width:min-content;
/*    text-align: left; */
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Verdana';
    font-weight: normal;
    color:#544;
 }

h1 {
    font-size: 1.5em;
    margin: 0;
}

#main h1
{
    margin-left: 8px;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

.headerField {
    padding: 10px;
    font-family: '616';
}

.headerfooter
{
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    background-color: #A00606;
}

#content
{
    padding:10px;
    margin: 3px;
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
}

.contentColours
{
    background-color: #f0f8f6;
    border: 1px solid #A00606;
}
.menuBlock
{
    display: block;
}

#main {
    margin-top: 10px;
    margin-left: 10px;
}

footer, 
#footer {
    text-align: center;
    line-height: normal;
    margin: 0px 0px 10px 10px;
    font-size: .9em;
    height: 50px;

}

#toolBar
{
    padding:10px;
}

/* TAB MENU   
----------------------------------------------------------*/
.menu_column 
{
    display: inline-table;
}

#menu
{
    margin: 0px;
    padding: 0px;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"],
input[type="file"],
input[type="number"],
input[type="email"] {
    border: 1px solid #ccc;
    height:15px;
    font-size: 0.8em;
    color: #444;
    width: 150px;
}

input.watermark
{
    color : #999;
}

select {
    border: 1px solid #ccc;
    font-size: 0.8em;
    color: #444;
}

input[type="submit"] {
    font-size: 1em;
}

.fieldWrapper
{
    float: left;
}

/* TABLE
----------------------------------------------------------*/

table
{
    font-size: inherit;
    text-align: left;
    border: solid 1px #e8eef4;
    border-collapse: collapse;
    margin: 5px;
}

table label
{
/*
    display: none;
*/
}

table td {
    padding: 0px;
    border: solid 1px #544545;
}

table th {
    text-align: left;
    background-color: #e8eef4;
    padding:2px;
    border: solid 1px #544545;
    color:#544;
}

table.syllabus td
{
    border-width: 0px;
}

/* Rating  
----------------------------------------------------------*/
.seen
{
    background-color: red;
}
.attempted
{
    background-color: orange;
}
.understood
{
    background-color: yellow;
}
.proficient
{
    background-color: green;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.errorlist {
    color: Red;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    float:right;
    background-color: #544545;
    display: block;
    text-align: right;
    padding: 10px;
    margin: 0px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
