/*----------------------------------------------------------
The base color for this template is #01723b. If you'd like
to use a different color start by replacing all instances of
#01723b with your new color.
----------------------------------------------------------*/
body {
    background-image:url("images/BGDot.gif");
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #9B7;
    font-size: 0.8em;
}

@font-face {
    font-family: '616';
    src: url('./616.eot');
    src: local('616'), url('./616.woff') format('woff'), url('./616.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_6898">Text with this font applied</p> */
.fontsforweb_fontid_6898 {
    font-family: '616' !important;
}

a:link, #answerActions a:link {
    color:#6a4;
    text-decoration: none;
}

a:visited {
    color:#9B7;
    text-decoration: none;
}

menu a:visited {
    color:#bd9;
    text-decoration: none;
}

a:hover, #answerActions a:hover {
    color: #bd9;
    text-decoration: none;
}

a:active, #answerActions a:active{
    color: #fff;
}

#answerActions a
{
    color:#9B7;
    cursor:pointer;
}

header,
footer,
nav,
section {
    display: block;
}

table
{
    font-size: 0.8em;
    text-align: left;
}
/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: '616';
    font-size: 1.5em;
 }

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin: 0;
}

#main h1
{
    margin-left: 10px;
    margin-bottom: -4px;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 100%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

.headerField {
    border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    border-color:#9B7;
    background-color: #01723B;
    padding: 10px;
    font-family: '616';
}

.contentColours
{
    background-color: #e3eee3;
    color: #131;
}

.innerContentBorder{
    padding-left: 10px;
    border-width: 0px 0px 0px 1px;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-style: solid;
}

.messageDimensions
{
    max-width: 800px;
    min-width: 300px;
}

.answerBox
{
    display: inline-block;
    margin-left: 30px;
}

.answerDiv
{
    background-color: #084;
    padding-left: 5px;
    padding-top: 2px;
    margin: 1px;
}

#main {
    margin-top: 10px;
    margin-left: 10px;
}

footer, 
#footer {
    color: #999;
    text-align: center;
    line-height: normal;
    margin: 10px 0px 10px 10px;
    font-size: .9em;
    height: 50px;

}

#createMessage
{
    overflow: hidden;
}

#toolBar
{
    background-color: #01723b;
    padding:10px;
}

#createMessage input, 
#createMessage textarea{
    width: 300px;
    max-height: 100px;
}

#answerActions
{
    clear: both;
}

#createMessageExpand
{
    cursor: pointer;
}

/* Particular  control elements */
#loadbutton
{
    margin:5px;
}

/* Message   
----------------------------------------------------------*/
#createMessage form p
{
    margin-top: 1px;
    margin-bottom: 1px;
    margin:3px;
}

.msgPic
{
    width:25px;
    padding:2px;
}

.msgUserInfoGroup
{
    text-align: center;
    vertical-align: bottom;
    float:right;
    margin:2px;
    padding:2px;
    width:80px;
    height:62px;
}
.evaluationGroup
{
    text-align: center;
    float:right;
    padding:2px;
    margin:2px;
    width:80px;
    height:62px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu li {
    display: inline;
    list-style: none;
}

#menu
{
    margin: 0px;
    padding: 0px;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"],
input[type="file"],
input[type="email"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 0.8em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 0.8em;
    color: #444;
}

input[type="submit"] {
    font-size: 1em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/
/*
table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}
*/
/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.errorlist {
    color: Red;
}

div#title {
    display: block;
    float: left;
    text-align: left;
    margin:10px;
}

#logindisplay {
    float:right;
    background-color: #01723b;
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    margin: 0px;
    color: White;
}
#logindisplay::after
{
    clear:both;
}
#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
