/*----------------------------------------------------------
The base color for this template is #544545. If you'd like
to use a different color start by replacing all instances of
#544545 with your new color.
----------------------------------------------------------*/
body {
    background-image:url("images/BGDot.gif");
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 0.8em;
}

@font-face {
    font-family: '616';
    src: url('./616.eot');
    src: local('616'), url('./616.woff') format('woff'), url('./616.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_6898">Text with this font applied</p>
.fontsforweb_fontid_6898 {
    font-family: '616' !important;
}
 */
a:link 
{
    text-decoration: none;
    color:#510202;
}

a:visited 
{
    color:#555;
    text-decoration: none;
}

a:hover 
{
    color: #A55;
    text-decoration: none;
}

a:active
{
    color: #A55;
}

.headerfooter a:link
{
    color:#FFF;
    text-decoration: none;
}

.headerfooter a:visited 
{
    color:#DDD;
    text-decoration: none;
}

.headerfooter a:hover 
{
    color: #A55;
    text-decoration: none;
}

.headerfooter a:active
{
    color: #A55;
}


header,
footer,
nav,
section {
    display: block;
}

.errorMsg
{
    color:#811;
}

.initial
{
    text-align: center;
    margin: auto;
}

#initial_login
{
    margin:auto;
    width:min-content;
/*    text-align: left; */
}

.summary_average
{
    color: #f0f8f6;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Verdana';
    font-weight: bold;
    color:#544;
    margin-bottom: 0px;
 }

h1 {
    font-size: 1.1em;
    margin: 0;
}

h2 {
    font-size: 1.05em;
}

h3 {
    font-size: 1m;
}

h4 {
    font-size: 0.95em;
}

h5 {
    font-size: 0.9em;
}
h6 {
    font-size: 0.85em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 100%;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 0.8em !important;
    text-shadow: 1px 1px 2px #111;
}

.headerField {
    padding: 10px;
}

.headerfooter
{
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    background: #A00606 url(/static/images/samurai_tinted.jpg) no-repeat fixed;
    color:#FEE;
}

.headerTitle
{
    margin-left: 8px;
}

#content
{
    padding:10px;
    margin: 3px;
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
}

#contentStretch
{
    max-width:600px;
}

.contentColours
{
    background: #f0f8f6 url(/static/images/samurai_tinted_blue.jpg) no-repeat fixed;
    border: 1px solid #A00606;
}
.menuBlock
{
    display: block;
}

#main {
    margin-top: 10px;
    margin-left: 10px;
}

footer, 
#footer {
    text-align: center;
    line-height: normal;
    margin: 0px 0px 10px 10px;
    font-size: .7em;
    height: 50px;

}

#toolBar
{
    padding:10px;
}

.syllabus_section
{
    border:0px solid black;
    padding-left: 0px;
}

.group_toolbar
{
    float:right;
}

img.filter_button
{
    width: 20px;
}

.group_header_0
{
    margin-left:00px;
}
.group_header_1
{
    margin-left:10px;
}
.group_header_2
{
    margin-left:20px;
}
.group_header_3
{
    margin-left:30px;
}
.group_header_4
{
    margin-left:40px;
}
.group_header_5
{
    margin-left:50px;
}
.group_header_6
{
    margin-left:60px;
}

#profile_pic
{
    border: 1px solid black;
    margin: 10px;
    max-width: 300px;
}

/* TAB MENU   
----------------------------------------------------------*/
.menu_column 
{
    display: inline-table;
}
.menu_column li
{
    margin-left: 15px;
}

#menu
{
    margin: 0px;
    padding: 0px;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 0.8em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"],
input[type="file"],
input[type="number"],
input[type="email"] {
    border: 1px solid #ccc;
    height:15px;
    font-size: 0.8em;
}

input.watermark
{
    color : #999;
}

select {
    border: 1px solid #ccc;
    font-size: 0.8em;
    color: #444;
}

input[type="submit"] {
    font-size: 0.8em;
}

.fieldWrapper
{
    float: left;
}

/* TABLE
----------------------------------------------------------*/

table
{
    font-size: inherit;
    text-align: left;
/*    border-collapse: collapse; */
}

table label
{
/*
    display: none;
*/
}

table td {
    padding: 0px;
}


table th {
    text-align: left;
    background-color: #e8eef4;
    padding:2px;
    border: solid 1px #544545;
    color:#544;
}

table.syllabus
{
    width:100%;
}

table.syllabus td
{
    border-width: 0px;
}

table.syllabus td.rating
{
    border:1px solid #c9a1a1;
}

td.rating input {
    margin: 0px;
}
.ex_description
{
   width: 25%;
}

table.syllabus input[type="text"] {
    width: 100%;
}
/* Rating  
----------------------------------------------------------*/
.seen
{
    background-color: red;
}
.attempted
{
    background-color: orange;
}
.understood
{
    background-color: yellow;
}
.proficient
{
    background-color: green;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.errorlist {
    color: Red;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    float:right;
    display: block;
    text-align: right;
    padding: 10px;
    margin: 0px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/* jQuery ooverrides
-------------------------------------------------------------*/

.picker .pc-element
{
    display: block;
    margin-bottom: 0px;
    width:100%;
    padding:0px;
    margin:0px;
    z-index: auto;
}